<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.addtocart{
	margin: 0px;
	height: 200px;
}
.wl-quantity-wrap{
	margin-bottom: 19px;
}

#tab-title-reviews, #tab-title-description {
    padding-top: 10px;
    padding-bottom: 10px;
}
.single_add_to_cart_button{
	border-radius: 0px;
}
.cfvsw-swatches-option{
	background-color: #191A1F;
	border: 1px solid #7797BB;
	color: white;
}

#woolentor-stock-status-8fe9c04{
	display: none;
}

.wl-addto-cart.wl-style-3 form.cart, .wl-addto-cart.wl-style-4 form.cart, .wl-addto-cart.wl-style-5 form.cart, .wl-addto-cart.variable.wl-style-3 form.cart .single_variation_wrap .woocommerce-variation-add-to-cart, .wl-addto-cart.variable.wl-style-4 form.cart .single_variation_wrap .woocommerce-variation-add-to-cart, .wl-addto-cart.variable.wl-style-5 form.cart .single_variation_wrap .woocommerce-variation-add-to-cart {
    margin-bottom: 0px;
}


.elementor-184 .elementor-element.elementor-element-a0b5bdd .wl-addto-cart[class*="wl-style-"] form.cart button, .elementor-184 .elementor-element.elementor-element-a0b5bdd .wl-style-1 form.cart button {
	border-radius: 0px;

}

.wl-addto-cart.wl-style-4 form.cart .wl-quantity-wrap .wl-quantity-cal {
    border-radius: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce div.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs li:hover::before {
    background: #7797BB;
}

.woocommerce-js h2 {
    margin-bottom: 0px;
}

.ht-feature-wrap .ht-feature-img svg {
margin-top: 10px;
}

.wl-columns-5 .wl-row > [class*="col-"] {
	height: 50px;
	overflow: none;
}
.tabs{
	display: flex;
}
.description_tab{
	width: 40%;
}
.reviews_tab{
		width: 40%;

}

.gallery-navigation-carousel .wcgs-thumb {
    height: 80px; /* Set fixed height for the div */
    overflow: hidden; /* Ensure any overflow is hidden */
    display: flex; /* Use flexbox to center the image */
    align-items: center;
    justify-content: center;
}

#wpgs-gallery .wcgs-thumb.swiper-slide img {
    height: 80px; /* Make the image fit the height of the div */
    width: auto; /* Keep the aspect ratio */
    object-fit: contain; /* Ensure the image covers the entire div */
}

.swiper-free-mode>.swiper-wrapper {

    height: 80px;
}

#wpgs-gallery.wcgs-woocommerce-product-gallery .wcgs-carousel {
	height: 400px;
}
#wpgs-gallery .wcgs-thumb.swiper-slide-thumb-active.wcgs-thumb img  {
	border-bottom: 1px solid #61ce70;
	padding-bottom: 1rem;
}


</style>
<!-- end Simple Custom CSS and JS -->
