<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.wlsingle-categorie{
	background-color: #16171B;
	height: 250px;
}
.wlsingle-categorie-img {
    width: 100%; /* Set the width to 80% */
    height: 90%; /* Maintain aspect ratio */
	overflow: hidden;
}
.wlsingle-categorie-img a {
    width: 100%;
	height: 200px; /* Maintain aspect ratio */
}
.wlsingle-categorie-img a img {
    width: 100%;
	height: 70%;
	object-fit: contain; /* Cover the container while maintaining aspect ratio */


}


</style>
<!-- end Simple Custom CSS and JS -->
