<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.wlsingle-categorie{
	background-color: #16171B;
	height: 250px;
}

.wlsingle-categorie-img {
    width: 100%; /* Set the width to 80% */
    height: 90%; /* Maintain aspect ratio */
	overflow: hidden;
	padding: 15px;

}
.wlsingle-categorie-img a {
    width: 100%;
	height: 200px; /* Maintain aspect ratio */
}
.wlsingle-categorie-img a img {
    width: 100%;
	height: 70%;
	object-fit: contain; /* Cover the container while maintaining aspect ratio */
}
.wlcategorie-content{
	margin: 0 auto;
}

.elementor-184 .elementor-element.elementor-element-f26ac99 .wlsingle-categorie, .elementor-587 .elementor-element.elementor-element-76705a93 .wlsingle-categorie {
	transition: 0.3s ease-in-out;	
}
.elementor-184 .elementor-element.elementor-element-f26ac99 .wlsingle-categorie:hover , .elementor-587 .elementor-element.elementor-element-76705a93 .wlsingle-categorie:hover{
	border: 2px solid #3534348F;
	transform: scale(1.05);
	
}


/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .elementor-184 .elementor-element.elementor-element-f26ac99 .wl-row > [class*="col-"] {
		padding: 0 5px;
		border: 1px solid green;

	}
	.elementor-184 .elementor-element.elementor-element-f26ac99 .wlsingle-categorie {
		height: 170px;
	}

}


@media (max-width: 480px) {
	.elementor-184 .elementor-element.elementor-element-fe3b98c .wl-row > [class*="col-"] {
		width: 50%;
		padding: 5px;
	}

		.wlsingle-categorie-img a {
		width: 100%;
		height: 100%;
	}
	.elementor-184 .elementor-element.elementor-element-fe3b98c .wlsingle-categorie {
		margin-bottom: 0px;
		height: 150px;
	}
		.wlsingle-categorie-img {
		height: 100px;
	}
	
}</style>
<!-- end Simple Custom CSS and JS -->
